# Conditional Statements

In [6]:
#if -> True -> 1 condition
#if else => else-> False -> 2 conditions
#if elif else -> more than 2 conditions
#nested if -> if inside if

In [8]:
#if

print("welcome everyone!!")
if 23<90:
    print("Condition is correct...")
print("end loop..")

welcome everyone!!
Condition is correct...
end loop..

In [9]:
#if else

print("welcome everyone!!")
if 230<90:
    print("Condition is correct...")
else:
    print("condition is not correct so displayed else statement")
print("end loop..")

welcome everyone!!
condition is not correct so displayed else statement
end loop..

In [14]:
#if elif else

#check whether given number is +'ve or -'ve

n = int(input("enter n value: ")) #0
if n == 0: #0==0
    print("Neutral Integer")
elif n>0: #-45646>0
    print("Positive Integer")
else:
    print("Negative Integer")
    
print("end loop")

enter n value: 0
Negative Integer
end loop

In [18]:
#nested if

#display largest number among three numbers

a = int(input("enter a value: ")) #2
b = int(input("enter b value: ")) #4
c = int(input("enter c value: ")) #6

if a>b:  #2>4
    if a>c: 
        print("a having larger number..")
    else:
        print("c having larger number..")
elif b>c: #4>6
    print("b having larger number..")
else:
    print("c having larger number..")

enter a value: 2
enter b value: 4
enter c value: 6
c having larger number..

In [20]:
#logical number -> and

#display largest number among three numbers

a = int(input("enter a value: "))  #3
b = int(input("enter b value: "))  #7
c = int(input("enter c value: "))  #6

if a>b and a>c:  #3>7 and 3>6
    print("a is having larger value")
elif b>a and b>c: #7>3 and 7>6
    print("b is having larger value")
elif c>a and c>b:
    print("c is having larger value")
else:
    print("May have some equal values in variables")

enter a value: 3
enter b value: 2
enter c value: 3
May have some equal values in variables

In [1]:
l = ["laxmi",67.89,45,True,"sai"]

if "Sai" in l:
    print("Present in that sequence variable")
else:
    print("Not Present in that sequence variable")

Not Present in that sequence variable

# Iterative Statements

- 2 types:
         
        while
        for

In [2]:
#display "Hello-world!! for 5 times"
print("Hello-world!!")
print("Hello-world!!")
print("Hello-world!!")
print("Hello-world!!")
print("Hello-world!!")

Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!

In [3]:
#display "Hello-world!! for 10 times" using "while" loop

x = 1
while x<=10:
    print("Hello-world!!")
    x = x+1
print("end loop............")

Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
Hello-world!!
end loop............

In [4]:
#display integers from 1 - 10 using "while" loop

a = 1
while a<=10:
    print(a,end=" ")
    a = a+1
print("\nend loop...")

1 2 3 4 5 6 7 8 9 10
end loop...

In [5]:
print(10,3,5,6,7,8,9,sep="\t")

10	3	5	6	7	8	9

In [6]:
#display series: 5 10 15 20 25 30 35 40 45 50 using "while" loop

a = 5
while a<=50:
    print(a,end=" ")
    a = a+5
print("\nend loop...")

5 10 15 20 25 30 35 40 45 50
end loop...

In [7]:
#display series: 100 90 80 70 60 50 using "while" loop

a = 100
while a>=50:
    print(a,end=" ")
    a = a-10
print("\nend loop...")
x = 19
y = 78
print("Addition:",x+y)
print("Welcome to RE")

100 90 80 70 60 50
end loop...
Addition: 97
Welcome to RE

In [8]:
#-100 -90 -80 -70 -60 -50

x = -100
while x<=-50:
    print(x,end=" ")
    x = x+10

-100 -90 -80 -70 -60 -50

In [9]:
#display odd integers from 10-20 using "while" loop-> 11 13 15 17 19

i = 11
while i<=19:
    print(i,end=" ")
    i = i+2

11 13 15 17 19

In [10]:
#sum of first 10 natural numbers -> 1+2+3+4+5+6+7+8+9+10

s = 0
i = 1
while i<=10:
    s = s+i
    i = i+1
print("1+2+3+4+5+6+7+8+9+10=",s)

1+2+3+4+5+6+7+8+9+10= 55

In [11]:
#product of first 5 natural numbers using "while" loop -> 1*2*3*4*5

p = 1
i = 1
while i<=5:
    p = p*i
    i = i+1
print("product:",p)

product: 120

# for loop

In [12]:
#range() - used to generate sequence numbers
#3 argumnets -> initialization,stop(stop value is excluded),incr/decr

#display "Hello-world!!" for 10 times using "for" loop

for i in range(1,11):
    print("hello-World!!")

hello-World!!
hello-World!!
hello-World!!
hello-World!!
hello-World!!
hello-World!!
hello-World!!
hello-World!!
hello-World!!
hello-World!!

In [13]:
#display integers from 1 - 10 using "for" loop

for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [14]:
#display series: 0 5 10 15 20 25 30 35 40 45 50 using "for" loop

for i in range(0,51,5):
    print(i,end=" ")

0 5 10 15 20 25 30 35 40 45 50

In [15]:
#display even integers from 50-80 using "for" loop

for i in range(50,81,2):
    print(i,end=" ")

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80

In [16]:
#sum of first 10 natural numbers(1+2+3+4+5+6+7+8+9+10) using "for" loop

s = 0
for i in range(1,11):
    s = s+i
print("sum:",s)

sum: 55

In [17]:
#product of first 5 odd natural numbers using "for" loop -> 1*3*5*7*9

p = 1
for i in range(1,10,2):
    p = p*i
print("product:",p)

product: 945

In [18]:
l = ["pavan","kiran",89,45]
print(l)

['pavan', 'kiran', 89, 45]

In [19]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
#range()

x = tuple(range(1,11,5))
print(x)

(1, 6)

# Jump Statements

In [21]:
#break using "while" loop

#Run from 1-10 and stop at 6

i = 1
while i<=10:
    print(i,end=" ")
    if i == 6:
        break
    i = i+1
print("\nend loop....")

1 2 3 4 5 6
end loop....

In [22]:
#break using "for" loop

#Run from 1-10 and stop at 5

for i in range(1,11):
    print(i,end=" ")
    if i == 5:
        break
print("\nend loop...")

1 2 3 4 5
end loop...

In [23]:
#continue using "while" loop

#Run from 1-10 and skip 4

i = 1
while i<=10:
    if i == 4:
        i = i+1
        continue
    print(i,end=" ")
    i = i+1

1 2 3 5 6 7 8 9 10

In [24]:
#continue using "while" loop

#Run from 1-10 and skip 4

i = 1
while i<=10:
    if i == 4:
        i = i+1
        continue
    print(i,end=" ")
    i = i+1

1 2 3 5 6 7 8 9 10

In [25]:
#Run from 1-10 and skip 4 and 7

i = 1
while i<=10:
    if i == 4 or i == 7:
        i = i+1
        continue
    print(i,end=" ")
    i = i+1

1 2 3 5 6 8 9 10

In [26]:
#continue using "for loop

#Run from 1-10 and skip 5

for i in range(1,11):
    if i == 5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10

In [27]:
#Run from 1-10 and skip 2 and 9

for i in range(1,11):
    if i == 2 or i == 9:
        continue
    print(i,end=" ")

1 3 4 5 6 7 8 10

In [28]:
#pass

print("welcome")
for i in range(1,11):
    pass
print("end loop...")

welcome
end loop...

In [29]:
if "a" == "A":
    pass
    
print("end loop...")

end loop...

In [30]:
#suite -> a group of individual stmts which make a single code block

# Table

In [32]:
#while

n = int(input("enter n value for table: "))
i = 1
while i<=10:
    print(f"{n} x {i} = {n*i}")
    i = i+1

enter n value for table: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [33]:
#for

n = int(input("enter n value for table: "))
for i in range(1,11):
     print(f"{n} x {i} = {n*i}")

enter n value for table: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60